{# dbevo/templates/migration.sql.j2 #}
------------------------------------------------------------------------------------------------------------------------
-- Author: {{ author }}
-- Project: {{ project }}
-- Schema: {{ schema }}
-- Create: Date: {{ created_at }}
-- Migration: {{ migration_name }}
------------------------------------------------------------------------------------------------------------------------

-- !Ups
------------------------------------------------------------------------------------------------------------------------
-- Desc: {{ description }}
------------------------------------------------------------------------------------------------------------------------
-- TODO: Add your SQL here


-- !Ups end

-- !Downs
------------------------------------------------------------------------------------------------------------------------
-- Desc: Rollback
------------------------------------------------------------------------------------------------------------------------
-- TODO: Add your rollback SQL here


-- !Downs end
